src_test/OptimizationServiceTestFramework/Service References/RuleManagementServiceReference/RuleManagementService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AFP.Hosting.Optimization.Model.RuleModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AFP.Hosting.Optimization.Model.RuleModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/RuleManagementService/RuleManagementService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:simpleType name="RuleSetTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AutoOptimization" />
      <xs:enumeration value="AutoDownloadObject" />
      <xs:enumeration value="AutoDownloadPerformance" />
      <xs:enumeration value="AutoPosition" />
      <xs:enumeration value="AutoOptimizationWeb" />
      <xs:enumeration value="AutoRotation" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RuleSetTypes" nillable="true" type="tns:RuleSetTypes" />
  <xs:complexType name="RuleSetDefinitionSchedule">
    <xs:sequence>
      <xs:element name="_x003C_DatePeriod_x003E_k__BackingField" nillable="true" type="tns:RuleSetDefinitionRunDatePeriod" />
      <xs:element name="_x003C_IsRunOnce_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_RunPeriodType_x003E_k__BackingField" type="tns:RuleSetDefinitionRunPeriodType" />
      <xs:element name="_x003C_TimePeriod_x003E_k__BackingField" nillable="true" type="tns:RuleSetDefinitionRunTimePeriod" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" name="_x003C_WeekPeriod_x003E_k__BackingField" nillable="true" type="q1:ArrayOfDayOfWeek" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RuleSetDefinitionSchedule" nillable="true" type="tns:RuleSetDefinitionSchedule" />
  <xs:complexType name="RuleSetDefinitionRunDatePeriod">
    <xs:sequence>
      <xs:element name="_x003C_EndDate_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_StartDate_x003E_k__BackingField" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RuleSetDefinitionRunDatePeriod" nillable="true" type="tns:RuleSetDefinitionRunDatePeriod" />
  <xs:simpleType name="RuleSetDefinitionRunPeriodType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Day" />
      <xs:enumeration value="DateRange" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RuleSetDefinitionRunPeriodType" nillable="true" type="tns:RuleSetDefinitionRunPeriodType" />
  <xs:complexType name="RuleSetDefinitionRunTimePeriod">
    <xs:sequence>
      <xs:element name="_x003C_EndTime_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_Interval_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_StartTime_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RuleSetDefinitionRunTimePeriod" nillable="true" type="tns:RuleSetDefinitionRunTimePeriod" />
</xs:schema>