src_test/OptimizationServiceTestFramework/Service References/RuleManagementServiceReference/RuleManagementService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AdSage.Concert.Hosting.Application.DTO.OnlineService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AdSage.Concert.Hosting.Application.DTO.OnlineService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/RuleManagementService/RuleManagementService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/AdSage.Concert.Hosting.Application.DTO" />
  <xs:complexType name="FailObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AdSage.Concert.Hosting.Application.DTO" minOccurs="0" name="ErrorObj" nillable="true" type="q1:SEMBaseDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FailObject" nillable="true" type="tns:FailObject" />
</xs:schema>